<configuration>
	<connectionStrings>
		<add name="MYSQLDBConnection"
			 connectionString="Server=vps.technovizion.studio;Database=BookWise;User ID=BookWise;Password=B00kW1s3;"/>	
	</connectionStrings>
	<appSettings>
		<add key="SmtpHost" value="smtp.zoho.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUser" value="noreply@technovizion.studio"/>
		<add key="SmtpPass" value="JdUjtDfB5edX"/>
	</appSettings>
</configuration>
